In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [3]:
# veri kaynağı: http://veribilimi.co/data/iris.csv
df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\adult_preprocessed.csv")

# Veri keşfi

In [4]:
df.head()

,workclass,education,education_merged,marital_status,occupation,relationship,race,sex,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,output
0,State-gov,Bachelors,Under-Graduate,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,39,77516.0,13.0,2174.0,0.0,40.0,<=50K
1,Self-emp-not-inc,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,50,83311.0,13.0,0.0,0.0,13.0,<=50K
2,Private,HS-grad,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,38,215646.0,9.0,0.0,0.0,40.0,<=50K
3,Private,11th,High-School,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,53,234721.0,7.0,0.0,0.0,40.0,<=50K
4,Private,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,28,338409.0,13.0,0.0,0.0,40.0,<=50K

In [5]:
# df.drop(['workclass','education','education_merged','marital_status','occupation','relationship','race','sex','native_country'],
#       axis=1, inplace=True)

In [6]:
X = df.iloc[:,:-1].values
X.shape

(45207, 6)

In [7]:
y = df.iloc[:,-1].values
y.shape

(45207,)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=142)

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(33905, 6)
(11302, 6)
(33905,)
(11302,)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
classifier = LogisticRegression(random_state=142)

In [13]:
classifier.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=142, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
y_pred = classifier.predict(X_test)

## Tahmin sonuçlarını numpy.ndarray'den dataframe yapma (İncelemek daha Kolay)

In [15]:
predictions = pd.DataFrame(data=y_pred,    # values
                index=range(len(y_pred)),    # 1st column as index
                   columns=['y_pred'])  # 1st row as the column names

# Sadece y_pred'den oluşan df'e test(gerçek) y_test'i sütun olarak ekleme
predictions['y_test'] = y_test
predictions.head()

  y_pred y_test
0  <=50K  <=50K
1  <=50K  <=50K
2  <=50K  <=50K
3  <=50K  <=50K
4  <=50K  <=50K

# Hata Matrisi (Confusion Matrix)

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
cm = confusion_matrix(y_true=y_test, y_pred=y_pred)
print(cm)

[[8223  262]
 [2114  703]]

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy = accuracy_score(y_true=y_test, y_pred=y_pred)
print("Accuracy: % {:10.2f}".format(accuracy*100)) 
# :10.2f ifadesi ondalık kısımda iki basamak göstermek için

Accuracy: %      78.98

# Elle Accuracy hesaplama

In [22]:
predictions[predictions['y_pred'] != predictions['y_test']]

             y_pred           y_test
1    Iris-virginica  Iris-versicolor
2    Iris-virginica  Iris-versicolor
18  Iris-versicolor   Iris-virginica
19   Iris-virginica  Iris-versicolor
25  Iris-versicolor   Iris-virginica
34   Iris-virginica  Iris-versicolor

In [23]:
predictions[predictions['y_pred'] != predictions['y_test']].count()

y_pred    6
y_test    6
dtype: int64

In [24]:
len(y_test)

38

In [25]:
accuracy = (len(y_test) - 4) / len(y_test)
accuracy

0.8947368421052632

# Elle tahmin seti üretme

In [26]:
# test seti dışında elle tahmin seti oluşturalım
X_manual_test = np.array([4.0,4.0,4.0,4.0]).reshape(1,4)

# array shape mutlaka uygun olmalı
print(X_manual_test.shape)
print(X_test.shape)

(1, 4)
(38, 4)

In [27]:
classifier.predict(X_manual_test)

array(['Iris-virginica'], dtype=object)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)