In [139]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [140]:
# veri kaynağı: http://veribilimi.co/data/iris.csv
df = pd.read_csv("D:\\OneDrive\\egitim\\verilen\\bogazici-compec-python-ml\\Datasets\\adult_preprocessed.csv")

# Veri keşfi

In [141]:
df.head()

,workclass,education,education_merged,marital_status,occupation,relationship,race,sex,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,output
0,State-gov,Bachelors,Under-Graduate,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,39,77516.0,13.0,2174.0,0.0,40.0,<=50K
1,Self-emp-not-inc,Bachelors,Under-Graduate,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,50,83311.0,13.0,0.0,0.0,13.0,<=50K
2,Private,HS-grad,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,38,215646.0,9.0,0.0,0.0,40.0,<=50K
3,Private,11th,High-School,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,53,234721.0,7.0,0.0,0.0,40.0,<=50K
4,Private,Bachelors,Under-Graduate,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,28,338409.0,13.0,0.0,0.0,40.0,<=50K

In [142]:
X = df.iloc[:,:-1].values
X.shape

(45207, 15)

In [143]:
y = df.iloc[:,-1].values
y.shape

(45207,)

# Boşluk Doldurma

In [144]:
# Dadece nümerik değişkenler için
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:,9:-1]) 
X[:,9:-1] = imputer.transform(X[:,9:-1])

# Kategorik Nitelik Dönüştürme

In [148]:
from sklearn.preprocessing import LabelEncoder

In [149]:
labelencoder = LabelEncoder()

In [150]:
X[:,0] = labelencoder.fit_transform(X[:,0])
X[:,1] = labelencoder.fit_transform(X[:,1])
X[:,2] = labelencoder.fit_transform(X[:,2])
X[:,3] = labelencoder.fit_transform(X[:,3])
X[:,4] = labelencoder.fit_transform(X[:,4])
X[:,5] = labelencoder.fit_transform(X[:,5])
X[:,6] = labelencoder.fit_transform(X[:,6])
X[:,7] = labelencoder.fit_transform(X[:,7])
X[:,8] = labelencoder.fit_transform(X[:,8])

# One Hot Encoder

In [151]:
from sklearn.preprocessing import OneHotEncoder

In [152]:
onehotencoder = OneHotEncoder(categorical_features=[0,1,2,3,4,5,6,7,8])

In [153]:
X = onehotencoder.fit_transform(X).toarray()

D:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

# label Encoder

In [137]:
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)

In [138]:
from sklearn.model_selection import train_test_split

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=142)

In [111]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(33905, 111)
(11302, 111)
(33905,)
(11302,)

# Feature Scaling

In [112]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# Model Creation and Training

In [113]:
from sklearn.linear_model import LogisticRegression

In [114]:
classifier = LogisticRegression(random_state=142)

In [115]:
classifier.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=142, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [116]:
# Predictions

In [117]:
y_pred = classifier.predict(X_test)

## Tahmin sonuçlarını numpy.ndarray'den dataframe yapma (İncelemek daha Kolay)

In [118]:
predictions = pd.DataFrame(data=y_pred,    # values
                index=range(len(y_pred)),    # 1st column as index
                   columns=['y_pred'])  # 1st row as the column names

# Sadece y_pred'den oluşan df'e test(gerçek) y_test'i sütun olarak ekleme
predictions['y_test'] = y_test
predictions.head()

   y_pred  y_test
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

# Hata Matrisi (Confusion Matrix)

In [119]:
from sklearn.metrics import confusion_matrix

In [120]:
cm = confusion_matrix(y_true=y_test, y_pred=y_pred)
print(cm)

[[7919  566]
 [1143 1674]]

In [121]:
from sklearn.metrics import accuracy_score

In [122]:
accuracy = accuracy_score(y_true=y_test, y_pred=y_pred)
print("Accuracy: % {:10.2f}".format(accuracy*100)) 
# :10.2f ifadesi ondalık kısımda iki basamak göstermek için

Accuracy: %      84.88

# Elle Accuracy hesaplama

In [123]:
errors = predictions[predictions['y_pred'] != predictions['y_test']]
errors.head()

    y_pred  y_test
12       1       0
36       1       0
46       1       0
62       0       1
66       1       0

In [124]:
predictions[predictions['y_pred'] != predictions['y_test']].count()

y_pred    1709
y_test    1709
dtype: int64

In [125]:
len(y_test)

11302

In [126]:
accuracy = (len(y_test) - len(errors)) / len(y_test)
accuracy

0.8487878251636879